.box-layout {
  align-items: center;
  background: url('/images/bg.jpg');
  background-size: cover;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  display: flex;
}

.box-layout--join {
  @extend .box-layout;
  height: initial;
  background: linear-gradient(to right, #2c3e50, #3498db);

  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  flex-grow: 1;  
  overflow: hidden;
}

.box-layout--messages {
  @extend .box-layout--join;
  justify-content: flex-start;
  align-items: flex-start;
  // flex-grow: 0;
}


.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
  // display: inline-block;
  position: relative;
}

.box-layout__box--join {
  @extend .box-layout__box;
  width: 33%;
  
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
.listOfBlockedWords{
  max-width: 100%;
}
.wordWithClose{
  display:inline-block;
  position:relative;
  padding:0.3em 0.7em;
  margin:0.3em;
  background-color:rgba(0,0,0,0.15);
  transition:background-color .3s ease;
  cursor:pointer;
  .removeWord{
    opacity:0;
    visibility:0;
    position: absolute;
    right:0.2em;
    top:0em;
    font-size:13px;
    pointer-events: none;
  }
  &:hover {
    background-color:rgba(0,0,0,0.25);
    .removeWord{
      opacity:1;
      visibility: 1;
    }
  }
}
