.box-layout {
  align-items: center;
  background: url('/images/bg.jpg');
  background-size: cover;
  height: 100vh;
  justify-content: center;
  width: 100vw;
//  width: calc( (var(--vw, 1vw) * 100 )  );
  display: flex;
}

.box-layout--join {
  @extend .box-layout;
  height: initial;
  background: linear-gradient(to right, #2c3e50, #3498db);

  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  flex-grow: 1;  
  overflow: hidden;
  @media only screen and (max-width:768px){
    height: initial;
    
    justify-content: center;
    display: block;
    justify-content: space-around;
    position: relative;
    flex-grow: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */

    height: 66vh;
    
    top: 0;
  }
}

.box-layout--messages {
  @extend .box-layout--join;
  justify-content: flex-start;
  align-items: flex-start;
  // flex-grow: 0;
  @media screen  and (max-width:768px){
    overflow:visible;
  }
  &.mainPageBoxLayout{
    height: 100vh;
    background: linear-gradient(to bottom right, #0f0f10, #252729);
    background-image:url('/images/darkness.png');
    background-repeat: repeat;
    background-size: initial;
    .room-header{
      padding:0.5em!important;
      margin:0 auto;
      left:0;
      top:0;right:0;
    }
  }
}
.mainPageRoomContainer{
  max-width: 600px;//imitate mobile center;

}

.mainPageBoxLayout{
  .room-header{
    max-width: 600px;
    margin: 0 auto;
    padding:0.5em;
    @media screen and ( max-width: 768px){
      padding: 0.5em 1em !important;
    }
  }
  .messages-box.mainRoom{
    max-width: 600px;
     margin: 0 auto; 
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border:solid 2px #f7b619;
    border-radius:10px;
  }
  #message-form{
    max-width: 600px;
    /* display: block; */
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 10px;
    border: solid 2px rgba(247, 182, 25, 0.5);
    .text-input{ 
      background: transparent;
      width:100%;
      border:0;
      outline:none;
      font-size:1.5rem;
      color:#fbfbfb;
    }
  }
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
  // display: inline-block;
  position: relative;
  &.boxLogin{
    width:40rem;
    input{
      padding: 1em;
      width: 28rem;
      margin-bottom: 0.7em;
      border: 0;
      outline:#f3a23b;
    }
    .submitButton{
      background-color: #33d1e3;
      outline: none;
    }
  }
}

.box-layout__box--join {
  @extend .box-layout__box;
  width: 33%;
  @media screen and (max-width:768px){
    width:100%;
  }
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
.listOfBlockedWords{
  max-width: 100%;
  max-height: 30em;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */

}
.wordWithClose{
  display:inline-block;
  position:relative;
  padding:0.3em 0.7em;
  margin:0.3em;
  background-color:rgba(0,0,0,0.15);
  transition:background-color .3s ease;
  cursor:pointer;
  .removeWord{
    opacity:0;
    visibility:0;
    position: absolute;
    right:0.2em;
    top:0em;
    font-size:13px;
    pointer-events: none;
  }
  &:hover {
    background-color:rgba(0,0,0,0.25);
    .removeWord{
      opacity:1;
      visibility: 1;
    }
  }
}
