.button {
  background: $blue;
  border: none;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 100;
  font-family: "Roboto";
  font-style: italic;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.login-button {
  @extend .button;
  background: $github-color;
}
#message-form button.sendMessageButton{
  flex-grow: unset;
  padding:1.3rem;
  color: #f0f0f0;
  outline: none;
}
.button--leave-room {
  @extend .button;
  background: none;
  color: #FFC107;
  border: 1px solid darken(#FFC107, 0.5);
  border-radius: 0.3;
  transition: background .3s linear, color .3s linear;
  &:hover {
    background: #FFC107;
    color: black;
  }
}

.button--join {
  @extend .button;
  background: #33d1e3;
  margin-left: $s-size;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}


.button--unread-messages {
  border-radius:50%;
  height: 40px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  background: #B2EBF2;
  color: #263238;
  font-weight: 700;
  border: none;
}