// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$github-color: #24292E;
$light-blue: #464b5e;
// Font Size
$font-size-large: 19px;
$font-size-small: 15px;
// Spacing
$s-size: 13px;
$m-size: 17px;
$l-size: 33px;
$xl-size: 49px;
$desktop-breakpoint: 768px;
